* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 50px;
}

h1,
.campo {
  padding-bottom: 10px;
}

.campo {
  display: flex;
  justify-content: end;
}

label {
  padding-right: 5px;
  align-self: center;
}

input {
  padding: 5px;
}

.estado {
  margin-right: 138px;
  margin-bottom: 5px;
}